.login {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .sheet {
    position: relative;
    max-width: 600px;
    height: 60%;
    background-color: #1e2022;
    border-radius: 2rem;
    padding: 2rem;
    overflow: scroll;
  }

  .tabs .tab-panel {
    opacity: 0;
    transition: transform 1s, opacity 1s;
    transform: translateY(100%);
    position: absolute;
  }

  .tabs > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
  .tabs > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2) {
    transform: translateY(0);
    opacity: 1;
  }

  .tabs {
    text-align: center;

    label {
      padding: 1rem;
      cursor: pointer;
    }

    input[type="radio"] {
      display: none;
    }
  }

  .tabs > label:hover,
  .tabs > input:focus + label,
  .tabs > input:checked + label {
    color: var(--color-primary);
  }
}
