.login {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .sheet {
    max-width: 600px;
    height: 60%;
    background-color: #1e2022;
    border-radius: 2rem;
    padding: 2rem;
    overflow: scroll;
  }

  .tabs .tab-panel {
    display: none;
  }

  .tabs>input:first-child:checked~.tab-panels>.tab-panel:first-child,
  .tabs>input:nth-child(3):checked~.tab-panels>.tab-panel:nth-child(2) {
    display: block;
  }

  .tabs>label:hover,
  .tabs>input:focus+label,
  .tabs>input:checked+label {
    color: var(--color-primary);
  }

  .tabs {
    text-align: center;

    label {
      padding: 1rem;
      cursor: pointer;
    }

    input[type="radio"] {
      display: none;
    }
  }

}