.login {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .sheet {
    position: relative;
    width: 100%;
    max-width: 800px;
    background-color: var(--color-secondary);
    border-radius: 2rem;
    padding: 2rem;
    overflow: scroll;
    overflow-x: hidden;
  }

  .tabs .tab-panel {
    display: none;
  }

  .tabs > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
  .tabs > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2) {
    display: block;
  }

  .tabs {
    text-align: center;

    label {
      padding: 1rem;
      cursor: pointer;
    }

    input[type="radio"] {
      display: none;
    }
  }

  .tabs > label:hover,
  .tabs > input:focus + label,
  .tabs > input:checked + label {
    color: var(--color-primary);
  }
}

@media screen and (max-width: 500px) {
  .login {
    .sheet {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
}
