.input {
  width: 100%;
  border-radius: 3rem;
  background: var(--color-elements);
  padding: 1rem 1.5rem;
  border: none;
  box-shadow: var(--color-shadow);
  transition: box-shadow 0.3s;

  &:focus {
    box-shadow: var(--color-shadow-active);
  }
}