.button {
  border-radius: 2rem;
  padding: 1rem;
  background: var(--color-elements);
  box-shadow: var(--color-shadow);
  transition: box-shadow 0.3s;

  &:active {
    box-shadow: var(--color-shadow-active);
  }
}
