.chat {
  width: 100vw;
  height: 100vh;
  padding: 0 2rem;
  background: rgb(68, 68, 68);
  background: radial-gradient(
    circle,
    rgba(68, 68, 68, 1) 15%,
    rgba(91, 90, 90, 1) 41%,
    rgba(140, 148, 158, 1) 100%
  );
  display: flex;
  padding: 2rem;

  .contacts-list {
    flex: 20%;
    padding: 0 2rem;

    .search {
      width: 100%;
      margin-bottom: 2rem;
      border-radius: 3rem;
      background: #292c2d;
      color: rgb(218, 218, 218);
      padding: 1rem 1.5rem;
      border: none;
      box-shadow: 1px 19px 42px -5px rgba(0, 0, 0, 1);
      transition: 0.3s;

      &:focus {
        box-shadow: 1px 5px 20px 2px rgba(0, 0, 0, 1);
      }
    }

    .contact {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border-radius: 3rem;
      background: #292c2d;
      color: rgb(218, 218, 218);
      padding: 0.5rem 1rem;
      transition: 0.5s;
      box-shadow: 1px 29px 52px -20px rgba(0, 0, 0, 1);

      &:hover {
        box-shadow: 1px 10px 42px -15px rgba(0, 0, 0, 1);
      }

      .avatar {
        border-radius: 50%;
        background-color: black;
        width: 50px;
        height: 50px;
      }

      .title {
        font-weight: 600;
        margin-bottom: 0.5rem;
      }

      .subtitle {
        font-size: 0.8rem;
        font-weight: 200;
      }

      .badge {
        font-size: 0.8rem;
        transform: translate(20%);
        text-align: center;
        border-radius: 50%;
        width: 1.2rem;
        height: 1.2rem;
        background-color: rgb(54, 54, 206);

        span {
          vertical-align: middle;
        }
      }
    }
  }

  .main-field {
    flex: 80%;
    height: 100%;
    background-color: #53565a;
    border-radius: 2rem;
  }
}
