.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 3rem;
  background: var(--color-elements);
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  transition: box-shadow 0.5s;
  box-shadow: var(--color-shadow);

  &:hover {
    box-shadow: var(--color-shadow-active);
  }

  .contact-left-block {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .title {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .subtitle {
    font-size: 0.8rem;
    font-weight: 200;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.contact.selected{
  border: 1px solid var(--color-primary);
}
