@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

input {
  border: none;
  text-decoration: none;
  outline: none;
}

a {
  text-decoration: none;
  color: rgb(218, 218, 218);
  padding: 1rem;
  cursor: pointer;

  &:hover {
    color: rgb(54, 54, 206);
  }
}