.theme-light {
  --color-primary: #d0ff84;
  --color-secondary: #fbfbfe;
  --text-color: rgb(37, 37, 37);
}

.theme-dark {
  --color-primary: #0060df;
  --color-secondary: #243133;
  --text-color: rgb(218, 218, 218);
}