.registration-form {
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-wrap: wrap;

  &>.input-component {
    flex: 50%;
    padding: 0.5rem 1rem;
  }

  .submit {
    width: 100%;
  }
}